*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/bg.jpeg'); 
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.taskbar{
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
}

.startmenu{
    position: absolute; 
    /* bottom: 50px; */
    bottom: -680px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in; 
}

.startmenu img{
    border-radius: 8px;
}

.title{
    color: white;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.icons{
    color: white;
    display: flex;
    flex-direction: column;
    width: 7vw;
justify-content: space-evenly;
height: 75vh;
  
    
}
#vid{
    z-index: -1;
    height: 100vh;
    width: 100vw;
}